footer {
  width: 100%;
  background-color: #ededed;
  padding: 3rem 0 5rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  ul {
    display: flex;
    // 商标
    li {
      // 每个雪碧图共同的样式
      .icon {
        // 很重要
        display: flex;
        // 隐藏文字
        text-indent: -999rem;
        margin-right: 1.5rem;
        background: url(../img/sprite.png) no-repeat;
        background-size: 466px 447px;
        overflow: hidden;
      }
      // 支付业务许可证
      .icon-zfywxkz {
        width: 38px;
        height: 27px;
        background-position: -369px -45px;
      }
      // PCI认证
      .icon-pcirz {
        width: 78px;
        height: 27px;
        background-position: -110px -96px;
      }
      // Visa 验证
      .icon-visayz {
        width: 36px;
        height: 27px;
        background-position: -426px -90px;
      }
      // VerSign加密服务
      .icon-vsjmfw {
        width: 63px;
        height: 27px;
        background-position: -401px -186px;
      }

      // 网络工商
      .icon-wlgs {
        width: 22px;
        height: 27px;
        background-position: -48px -48px;
      }
      // 电子商务协会认证诚信网
      .icon-dzswxhrzcxw {
        width: 75px;
        height: 27px;
        background-position: 0 -320px;
      }
      // 北京工商
      .icon-bjgs {
        margin-right: 0;
        background: url(../img/gongshang.png) no-repeat;
        background-size: 30px;
        overflow: hidden;
        width: 30px;
        height: 30px;
      }
    }
  }
  p {
    color: #999;
  }
}
